<div class="col-md-12">
  <div class="mb-3">
    <label for="tool_name" class="form-label">工具名称 <span class="text-danger">(Required)</span></label>
    {{form.name}}
    {% if form.errors.name %}
    <span class="text-danger">
      {{form.errors.name}}
    </span>
    {% endif %}
  </div>
</div>
<div class="col-md-12">
  <div class="mb-3">
    <label for="tool_category" class="form-label">工具类别</label>
    <br>
    <span class="me-4">此工具是否收集子域?</span>
    <label class="switch s-icons s-outline s-outline-info">
      {{form.is_subdomain_gathering}}
      <span class="slider round"></span>
    </label>
    <br>
    <span class="text-muted">如果您选择此工具作为子域收集工具，则可以在扫描引擎配置中使用它，并在其中提供此工具名称 <code>uses_tools</code>. 如果没有，您仍然可以在我们的自定义脚本引擎中使用此工具.</span>
  </div>
</div>
<div class="col-md-12">
  <div class="mb-3">
    <label for="github_url" class="form-label">Github URL <span class="text-danger">(必选)</span></label>
    <br>
    <label class="form-label text-primary">需要Github URL来检查最新版本和更新.</label>
    {{form.github_url}}
    {% if form.errors.github_url %}
    <span class="text-danger">
      {{form.errors.github_url}}
    </span>
    {% endif %}
  </div>
</div>
<div class="col-md-6">
  <div class="mb-3">
    <label for="tool_logo_url" class="form-label">Tool Logo (URL) <span class="text-muted">(可选)</span></label>
    {{form.logo_url}}
  </div>
</div>
<div class="col-md-6">
  <div class="mb-3">
    <label for="license_url" class="form-label">Tool License URL <span class="text-muted">(可选)</span></label>
    {{form.license_url}}
  </div>
</div>
<div class="col-md-12">
  <div class="mb-3">
    <label for="tool_description" class="form-label">Description <span class="text-danger">(可选)</span></label>
    {{form.description}}
  </div>
</div>
<h5>工具安装流程</h5>
<div class="row">
  <p class="text-danger">请注意，这里的任何命令都将直接在shell中执行，所以请小心您正在使用的命令.</p>
  <div class="col-md-12">
    <div class="mb-3">
      <label for="tool_logo_url" class="form-label">安装命令 <span class="text-danger">(必选)</span></label>
      <p>
        <ul>
          <li>
            如果必须使用github克隆安装该工具，那么您的安装命令将是
            <br>
            <code> git clone https://github.com/user/tool </code>
          </li>
          <li>
            如果必须使用go安装该工具，则安装命令为
            <br>
            <code>go install -v github.com/tool@latest</code>
            <br>
            请注意，go不再支持go get命令。相反，您应该使用go install. <a href="https://go.dev/doc/go-get-install-deprecation"> 了解原因! </a>
          </li>
        </ul>
      </p>
      <label for="install_command" class="form-label">安装命令 <span class="text-danger">(必选)</span></label>
      {{form.install_command}}
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="mb-3">
    <label for="tool_update" class="form-label">此工具如何更新？ (可选)</label>
    <p>
      <ul>
        <li>如果该工具是使用git克隆安装的，建议使用 <code>git pull</code> 用于更新.</li>
        <li>如果该工具是使用go安装的，建议使用与go install相同的命令.</li>
      </ul>
      <strong>如果未提供更新命令，您将无法更新工具.</strong>
    </p>
    <label for="update_command" class="form-label">更新命令</label>
    {{form.update_command}}
    {% if form.errors.update_command %}
    <span class="text-danger">
      {{form.errors.update_command}}
    </span>
    {% endif %}
  </div>
</div>
<div class="col-md-12">
  <div class="mb-3">
    <label for="tool_update" class="form-label">如何检查此工具中的版本？ (可选)</label>
    <p>
      reNgine将使用此命令检查工具的版本，并让您知道是否有可用的更新。大多数工具将通过以下任一方式显示版本
      <ul>
        <li>toolname -v</li>
        <li>toolname -V</li>
        <li>toolname --version</li>
        <li>python tool_name.py -v</li>
      </ul>
      您可以根据您的工具提供这些命令，reNgine将标识版本号。
    </p>
    <label for="version_lookup_command" class="form-label">版本查找命令</label>
    <span class="text-muted">(我们已经根据您的安装步骤为您自动生成了这个)</span>
    {{form.version_lookup_command}}
    {% if form.errors.version_lookup_command %}
    <span class="text-danger">
      {{form.errors.version_lookup_command}}
    </span>
    {% endif %}
  </div>
</div>
<div class="col-md-12">
  <div class="mb-3">
    <label for="tool_update" class="form-label">版本匹配正则表达式 (可选)</label>
    <p>
      reNgine需要版本匹配regex 来确定是否有可用的更新。您可以检查工具如何显示版本号，我们可以为您生成正则表达式，或者您也可以手动执行此操作.
      <br>
      <strong>如果未提供版本regex，reNgine将无法自动检查更新。但是您仍然可以强制更新工具.</strong>
      <br>
      <strong>此外，我们还可以为您生成版本regext。您可以选择此工具显示版本号的方式. <br>请参见，工具如何命名发布版本。 https://github.com/user/tool/releases</strong>
    </p>
    <button type="button" class="btn btn-outline-primary waves-effect waves-light" id="v1_2">v1.2 / V1.2 / 1.2</button>
    <button type="button" class="btn btn-outline-primary waves-effect waves-light" id="v1_2_3">v1.2.3 / V1.2.3 / 1.2.3</button>
    <button type="button" class="btn btn-outline-primary waves-effect waves-light" id="v1_2_3_4">v1.2.3.4 / V1.2.3.4 / 1.2.3.4</button>
    <br>
    <br>
    <label for="version_match_regex" class="form-label">Version Regex</label>
    {{form.version_match_regex}}
    {% if form.errors.version_match_regex %}
    <span class="text-danger">
      {{form.errors.version_match_regex}}
    </span>
    {% endif %}
  </div>
  <!-- <div class="row" id="subdomain_extra"> -->
  <div class="row">
    <h5>子域名收集工具附加信息</h5>
    <h6 class="text-danger">请注意，此子域收集工具必须支持txt文件形式的子域输出.</h6>
    <p>由于您选择此工具作为子域收集工具，我们需要有关此工具如何运行的其他信息.</p>
    <div class="">
      <span class="font-16">
        reNgine需要知道该工具如何接受目标并输出子域结果.<br>
        <strong>在需要的地方使用以下语法.</strong>
        <ul>
          <li><code>{PATH}</code>, 如果您的工具是github克隆的，请使用此选项. Example. <code>python3 {PATH}/subdomain.py</code></li>
          <li><code>{TARGET}</code>, 将其用于将域中的作为输入目标的命令行参数. Example. <code>subfinder -d {TARGET}</code></li>
          <li><code>{OUTPUT}</code>, 将其用于接受输出参数的命令行参数. Example. <code>subfinder -d {TARGET} -o {OUTPUT}</code></li>
          <li><code>{PROXY}</code>, 如果您的工具支持代理，请使用此选项. Example. <code>tool_name -p {PROXY}</code></li>
        </ul>
        您可以使用以上语法的组合，也可以使用工具支持的任何其他命令行参数.
      </span>
    </div>
    <div class="col-md-12">
      <div class="mb-3">
        {{form.subdomain_gathering_command}}
      </div>
    </div>
  </div>
</div>
