{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Proxy Settings
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="#">Settings</a></li>
<li class="breadcrumb-item active">Proxy Settings</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Proxy Settings
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Proxy Settings</h4>
        <p>每个网站都对特定IP地址在特定时间段内允许的特定请求数有限制，超过该限制将在特定时间内阻止来自该特定IP地址的任何传入请求。
          这将导致不可靠的对账结果。假设您要在具有所有模板的特定目标上运行Nuclei，您的IP可能会因为Nuclei发出的请求数而被禁止。
          <br>
          这对于dorking和其他OSINT、 reNgine来说尤其如此。在某些愚蠢的尝试之后，谷歌可能会在一段时间内禁止你的IP。
        </p>
        <div class="alert alert-primary border-0" role="alert">
          建议使用代理。
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="form-check mb-2 form-check-primary">
            {{form.use_proxy}}
            <label class="form-check-label" for="use_proxy">Use Proxy</label>
          </div>
          <h4 class="header-title">Proxy List</h4>
          <p>您可以输入任意多个代理，reNgine将 <span class="text-primary">随机</span> 扫描时从中选择一个。</p>
          <label class="form-label" for="proxies">用新换分割代理。</label>
          {{form.proxies}}
          <button type="submit" class="btn btn-primary mt-3 float-end">Save Proxies</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script type="text/javascript">
$(document).ready(function(){
  var use_proxy = document.getElementById("use_proxy");
  use_proxy.addEventListener('change', function() {
    if (this.checked) {
      document.getElementById("proxies").readOnly = false;
    }
    else{
      document.getElementById("proxies").readOnly = true;
    }
  });
});
</script>
{% endblock page_level_script %}
