{# DO NOT AUTO INDENT #}
{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
自定义报表
{% endblock title %}

{% block custom_js_css_link %}
<link href="{% static 'plugins/markdown/simplemde.min.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="#">Settings</a></li>
<li class="breadcrumb-item active">自定义报表</li>
{% endblock breadcrumb_title %}

{% block page_title %}
reNgine PDF Report Settings
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">自定义报表</h4>
        <p>reNgine允许您生成PDF报告。PDF报告完全可定制。下载PDF报告时，您可以选择是下载漏洞报告还是侦察报告，或者两者都下载。
          <br>此部分允许您自定义报告，例如颜色和要包含在报告中的部分。
        </p>
        <form method="post">
          {% csrf_token %}
          <h4 class="header-title">Color</h4>
          <table>
            <tr>
              <td>
                <b>主要颜色</b>
                <br>
                (主要颜色是用于主标题、页脚背景和页面计数器的颜色。)
              </td>
              <td>
                <div class="ms-4">
                  {{form.primary_color}}
                  <div class="primary-color-picker"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <b>次要颜色</b>
                <br>
                (次要颜色当前用于封面背景。)
              </td>
              <td>
                <div class="ms-4">
                  {{form.secondary_color}}
                  <div class="secondary-color-picker"></div>
                </div>
              </td>
            </tr>
          </table>
          <h4 class="header-title mt-3">报告生成者</h4>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_name" class="form-label">公司名称</label>
              {{form.company_name}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_address" class="form-label">公司地址</label>
              {{form.company_address}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_website" class="form-label">公司网站</label>
              {{form.company_website}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_email" class="form-label">公司电子邮件</label>
              {{form.company_email}}
            </div>
          </div>
          <div class="d-flex mt-3">
            <div class="d-inline-block"> <h4 class="header-title">是否显示页脚文本？</h4></div>
            <div class="d-inline-block ms-3">
              {{form.show_footer}}
            </div>
          </div>
          <p>这可以是版权文本，也可以是生成年份，页脚文本的位置在左下角。</p>
          <label for="footer_text" class="form-label">页脚文本</label>
          {{form.footer_text}}
          <div class="d-flex mt-3">
            <div class="d-inline-block"> <h4 class="header-title">显示reNgine Banner/Credits?</h4></div>
            <div class="d-inline-block ms-3">
              {{form.show_rengine_banner}}
            </div>
          </div>
          <p>如果启用，生成的报告将包含"由reNgine生成"。</p>
          <div class="d-flex mt-3">
            <div class="d-inline-block"> <h4 class="header-title">是否显示执行摘要？</h4></div>
            <div class="d-inline-block ms-3">
              {{form.show_executive_summary}}
            </div>
          </div>
          <p>如果启用，reNgine将在报告中包含执行摘要。您可以自定义执行摘要部分。
            <br>
            <b>请注意，"执行摘要"部分将出现在快速摘要之前。</b>
          </p>
          <p>你可以使用markdown来定制执行摘要和方法论模板。在你需要的地方替换下面的语法。 <b>必须使用花括号!</b></p>
          <h4 class="header-title">Executive Summary Syntax</h4>
          <ul>
            <li><span class="badge bg-primary mt-2">{scan_date}</span> Target Scan Date Ex. 25 June, 2020 .</li>
            <li><span class="badge bg-primary mt-2">{company_name}</span> Company which performed Vulnerability/Reconnaissance Audit.</li>
            <li><span class="badge bg-primary mt-2">{target_name}</span> Target Domain Name.</li>
            <li><span class="badge bg-primary mt-2">{target_description}</span> Target Description.</li>
            <li><span class="badge bg-primary mt-2">{subdomain_count}</span> Total number of subdomains discovered.</li>
            <li><span class="badge bg-primary mt-2">{vulnerability_count}</span> Total number of Vulnerabilities identified.</li>
            <li><span class="badge bg-primary mt-2">{critical_count}</span> Total number of Critical Severity Vulnerabilities identified.</li>
            <li><span class="badge bg-primary mt-2">{high_count}</span> Total number of High Severity Vulnerabilities identified.</li>
            <li><span class="badge bg-primary mt-2">{medium_count}</span> Total number of Medium Severity Vulnerabilities identified.</li>
            <li><span class="badge bg-primary mt-2">{low_count}</span> Total number of Low Severity Vulnerabilities identified.</li>
            <li><span class="badge bg-primary mt-2">{info_count}</span> Total number of Informational Vulnerabilities identified.</li>
            <li><span class="badge bg-primary mt-2">{unknown_count}</span> Total number of Vulnerabilities with Unknown Severity identified.</li>
          </ul>
          <div class="mt-2">
            {{form.executive_summary_description}}
          </div>
          <input type="submit" value="Save Report Settings" class="btn btn-primary float-end mt-2">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'plugins/markdown/simplemde.min.js' %}"></script>
<script src="{% static 'custom/custom.js' %}"></script>
<script type="text/javascript">
new SimpleMDE({
  element: document.getElementById("executive_summary_description"),
  toolbar: ["preview", "bold", "italic", "heading", "heading-2", "unordered-list", "link" ,"|", "code" ,"|", "quote", "|", "guide"],
  spellChecker: false,
});

const primary_pickr = Pickr.create({
  el: '.primary-color-picker',
  theme: 'monolith', // or 'monolith', or 'nano'

  swatches: [
    'rgb(79, 195, 247)',
    'rgb(100, 181, 246)',
    'rgb(77, 208, 225)',
    'rgb(255, 183, 77)',
    'rgb(255, 138, 101)',
  ],

  default: '{{primary_color}}',

  components: {
    // Main components
    preview: true,
    opacity: true,
    hue: true,
    // Input / output Options
    interaction: {
      hex: true,
      input: true,
    }
  }
});

primary_pickr.on('save', (color, instance) => {
  document.getElementById("primary_color").value = primary_pickr.getColor().toHEXA().toString(0);
}).on('change', (color, source, instance) => {
  primary_pickr.setColor(color.toHEXA().toString(0));
  document.getElementById("primary_color").value = primary_pickr.getColor().toHEXA().toString(0);
});

const secondary_pickr = Pickr.create({
  el: '.secondary-color-picker',
  theme: 'monolith', // or 'monolith', or 'nano'

  swatches: [
    'rgb(33,33,33)',
    'rgb(66,66,66)',
    'rgb(52, 73, 94)',
    'rgb(44, 62, 80)',
  ],

  default: '{{secondary_color}}',

  components: {
    // Main components
    preview: true,
    opacity: true,
    hue: true,
    // Input / output Options
    interaction: {
      hex: true,
      input: true,
    }
  }
});

secondary_pickr.on('save', (color, instance) => {
  document.getElementById("secondary_color").value = secondary_pickr.getColor().toHEXA().toString(0);
}).on('change', (color, source, instance) => {
  secondary_pickr.setColor(color.toHEXA().toString(0));
  document.getElementById("secondary_color").value = secondary_pickr.getColor().toHEXA().toString(0);
});

</script>
{% endblock page_level_script %}
