{% extends 'base/base.html' %}
{% load static %}

{% block title %}
添加组织
{% endblock title %}


{% block custom_js_css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'list_organization' %}">组织</a></li>
<li class="breadcrumb-item active">添加组织</li>
{% endblock breadcrumb_title %}

{% block page_title %}
添加组织
{% endblock page_title %}


{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p>组织可以用来标记目标，一个组织可以有多个目标。您可以像扫描目标一样扫描组织，扫描组织将允许您一起扫描组织中的所有目标。</p>
        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              <label for="organizationName" class="form-label">组织名称</label>
              {{ form.name }}
              {% if form.errors %}
              <div class="invalid-feedback" style="display: block;">
                {{ form.errors.name|striptags }}
              </div>
              {% endif %}
            </div>
            <div class="col-6">
              <label for="organizationDescription" class="form-label">描述 (可选)</label>
              {{ form.description }}
            </div>
            <div class="col-12 mt-3">
              <label for="targets" class="form-label">选择目标</label>
              {{form.domains}}
              {% if form.errors.domains %}
              <div class="invalid-feedback text-danger" style="display: block;">
                <p class="text-danger">
                  {{ form.errors.domains|striptags }}
                </p>
              </div>
              {% endif %}
            </div>
          </div>
          <button class="btn btn-primary submit-fn mt-2 float-end" disabled="true" type="submit">添加组织</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // $(".tagging").select2({
    //   tags: true,
    // });
    $('select').select2({closeOnSelect: false}).on("change", function(e) {
      var counter = $(".select2-selection__choice").length;
      if (counter) {
        $(':input[type="submit"]').prop('disabled', false);
      }
      else{
        $(':input[type="submit"]').prop('disabled', true);
      }
    });
  });
</script>
{% endblock page_level_script %}
