<div class="row">
  <div class="col-12">
    <label for="domainName" class="form-label">模式名称</label>
    {{ form.engine_name }}
  </div>
  <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt-4">
    <h4 class="text-secondary">模式</h4>
    <p>选择扫描模式是必须执行的操作。</p>
    <table>
      <tr>
        <td>
          <h5 class="text-secondary">子域名扫描</h5>
          <span class="text-primary">(默认选择)</span>
          <br>
          <span>(从YAML配置中选择子域扫描工具。)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.subdomain_discovery}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">WAF检测</h5>
          <span class="text-primary">(默认禁用)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.waf_detection}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">截图&nbsp;&nbsp;&nbsp;<span class="badge badge-soft-danger rounded-pill">推荐</span></h5>
          <span>(对所有发现的子域进行屏幕截图。)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.screenshot}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">OSINT</h5>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.osint}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">端口扫描</h5>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.port_scan}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">目录扫描和敏感文件扫描</h5>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.dir_file_fuzz}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">获取所有(URL)</h5>
          <span>(获取公开情报, Wayback Machine <br>进行爬取)</span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.fetch_url}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="text-secondary">漏洞扫描&nbsp;&nbsp;&nbsp;<span class="badge badge-soft-danger rounded-pill">推荐</span></h5>
          <span>扫描容易利用的cve和漏洞.</span>
          <br>
          <span class="text-info">
            要获得更好的漏洞扫描结果，请打开 <b>获取所有(URL)</b>。
            <br>reNgine还将使用nuclei查找这些端点上的漏洞。
            <br><span class="text-danger">这也将以指数形式增加扫描时间，但效果会更好。</span>
          </span>
        </td>
        <td>
          <label class="switch s-icons s-outline s-outline-info">
            {{form.vulnerability_scan}}
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xl-8 col-md-12 col-sm-12 col-12 mt-4">
    <h4 class="text-secondary">YAML 配置</h4>
    <p>
      reNgine支持基于YAML的配置来定制扫描。默认设置如下, 您可以选择继续使用默认设置或根据您的选择进行配置。
    </p>
    <h5 class="text-secondary">reNgine YAML 文档</h5>
    要了解有关YAML配置的更多信息,请访问官方文档: <a href="https://rengine.wiki/usage/scan_engine/" class="text-primary" target="_blank">https://rengine.wiki/pentester/scan_engine/</a>
    <p class="mt-1 text-danger">
      注意:无效的YAML配置可能会导致扫描崩溃。
      <br>
      <span class="text-uppercase">请不要修改配置，除非您知道自己在做什么。</span>
      <br>
      <span class="text-danger">如果默认的YAML配置没有自动加载,<a href="https://raw.githubusercontent.com/yogeshojha/rengine/master/default_yaml_config.yaml" target="_blank">从此处下载默认配置</a> 然后粘贴它。(Firefox可能在加载默认YAML配置时出现问题。)</span>
    </p>
    {{form.yaml_configuration}}
  </div>
</div>
