{% extends 'base/base.html' %}
{% load static %}

{% block title %}
添加新字典
{% endblock title %}


{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="{% url 'wordlist_list' %}">Wordlist</a></li>
<li class="breadcrumb-item active">Add Worldlist</li>
{% endblock breadcrumb_title %}

{% block page_title %}
添加新字典用于暴力破解
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p>字典可用于目录bruteforce或子域名bruteforce。 关于如何使用字典的说明如下 <a href="https://rengine.wiki/usage/wordlist/">found here <i class="fe-external-link"></i></a></p>
        <form class="simple-example" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              <label for="name" class="form-label">字典名称</label>
              {{ form.name }}
            </div>
            <div class="col-6">
              <label for="short_name" class="form-label">简称</label>
              {{ form.short_name }}
              {% if form.errors.short_name %}
              <div class="invalid-feedback" style="display: block;">
                {{ form.errors.short_name|striptags }}
              </div>
              {% endif %}
              <p class="text-primary mt-1">请保留不带空格的短名称,如my-wordlist或my_wordlist。短名称稍后将用于引用YAML设置中的字典列表。</p>
            </div>
            <div>
              <h4 class="header-title">选择字典文件</h4>
              <p class="text-primary">您的字典必须是*.txt文件,并且字典必须用换行分隔。</p>
            </div>
            <div class="custom-file mb-4">
              <label class="form-label" for="txtFile">Choose *.txt file</label>
              {{ form.upload_file }}
            </div>
          </div>
          <button class="btn btn-primary submit-fn mt-2 float-end" type="submit">上传字典</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script type="text/javascript">
var input = document.getElementById("name");
var shortName = document.getElementById("short_name");

input.addEventListener("input", function() {
  inputValue = document.getElementById("name").value;
  shortName.value = inputValue.replace(/[^a-zA-Z0-9]/g,'_').toLowerCase();;
});

shortName.addEventListener("input", function() {
  inputValue = document.getElementById("short_name").value;
  shortName.value = inputValue.replace(/[^a-zA-Z0-9]/g,'_').toLowerCase();;
});


// custom file input
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock page_level_script %}
